
body {
    background-color: black;
}
.container-fluid {
    background-color: white;
    width: 51%;
    height: auto;
    margin: auto;
}
.post image {
    display: flex;
    padding: 30%;
}
.header {
    display: inline-block;
    display: flex;
    width: 100%;
    margin: auto;
    padding-right: 80px;
}
.logo {
    width: 800px;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.options {
    display: inline-block;
    padding-top: 1%;
    width: 8%;
    height: auto;
}
.name {
    display: flexbox;
    padding: 0;
    margin:0;
}
.icons {
    display:inline-block;
    width: 10000px;
    height: auto;
    margin-right:20px;
}
.bookmark {
    display:inline-block;
    width: 20px;
    height: auto;
    margin-right:20px;
}
.icon img {
    display:inline-block;
    width: 20%;
    height: auto;
}
.footer  {
    width: 100%;
    margin: 5px;
}
.footer p {
    padding-top: 30%;
}
.icons {
    width: 3%;
    height: auto;
    display: flex;
}